In [6]:
import pandas as pd
import seaborn as sns

In [7]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df.loc[:5,].to_dict()

{'petal_length': {0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7},
 'petal_width': {0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4},
 'sepal_length': {0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4},
 'sepal_width': {0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9},
 'species': {0: 'setosa',
  1: 'setosa',
  2: 'setosa',
  3: 'setosa',
  4: 'setosa',
  5: 'setosa'}}

In [13]:
new_dict = {'petal_length': {0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7},
 'petal_width': {0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4},
 'sepal_length': {0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4},
 'sepal_width': {0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9},
 'species': {0: 'setosa',
  1: 'setosa',
  2: 'setosa',
  3: 'setosa',
  4: 'setosa',
  5: 'setosa'}}

df2 = pd.DataFrame(new_dict)
df2.head()

   petal_length  petal_width  sepal_length  sepal_width species
0           1.4          0.2           5.1          3.5  setosa
1           1.4          0.2           4.9          3.0  setosa
2           1.3          0.2           4.7          3.2  setosa
3           1.5          0.2           4.6          3.1  setosa
4           1.4          0.2           5.0          3.6  setosa

In [20]:
df3 = pd.read_json('./copied_dict.json', orient='columns')
df3.head()

ValueError: Expected object or value

In [21]:
df4 = pd.read_json('./good_dict.json', orient='columns')
df4.head()

   petal_length  petal_width  sepal_length  sepal_width species
0           1.4          0.2           5.1          3.5  setosa
1           1.4          0.2           4.9          3.0  setosa
2           1.3          0.2           4.7          3.2  setosa
3           1.5          0.2           4.6          3.1  setosa
4           1.4          0.2           5.0          3.6  setosa