<h1 style="text-align:center">Pandas' read_html function, Part 1</h1>

#### Recently, I asked a co-worker for a list of data on which I needed to work.  Instead of sending me his spreadsheet as an email attachment, he pasted his spreadsheet directly into the body of an email.  How in the world am I supposed to work with that?  [Pandas](https://pandas.pydata.org/) can help!  

#### I saved his email out to disk as an HTML file.  Outlook converted his pasted spreadsheet into a [HTML table](https://www.w3schools.com/html/html_tables.asp).  Then, I just used Pandas' [read_html function](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html) to read the HTML file.  It automatically found the table and converted it into a dataframe for me.  Problem solved!

#### In the following example, I went around the Internet and copied some HTML tables of data into a single HTML file:
 - The current [Bundesliga standings](https://www.google.com/search?q=bundesliga+standings#sie=lg;/g/11f3znwcpd;2;/m/037169;st;fp;1;;)
 - The [top grossing films of 1980](https://www.boxofficemojo.com/yearly/chart/?yr=1980&p=.htm)
 - and the [last several spot prices for gold](https://markets.businessinsider.com/commodities/gold-price)
 
#### Then, I simply loaded this file with Panda's read_html function.  It returned a list of three dataframes.  The dataframes could probably use some cleanup, but loading a dataframe directly from a HTML table is a pretty awesome time saver!

In [27]:
import pandas as pd

list_of_dfs = pd.read_html('multiple_tables.html')

print(len(list_of_dfs))
for df in list_of_dfs:
    print(df.head())

4
   0     1                 2   3   4  5   6   7   8    9     10  11
0 NaN  Club                MP   W   D  L  GF  GA  GD  Pts   NaN NaN
1 NaN     1          Dortmund  21  15  5   1  54  23   31  50.0 NaN
2 NaN     2            Bayern  21  14  3   4  47  24   23  45.0 NaN
3 NaN     3  MÃ¶nchengladbach  21  13  3   5  41  21   20  42.0 NaN
4 NaN     4        RB Leipzig  21  11  5   5  38  18   20  38.0 NaN
                                                   0  \
0                                               Rank
1  FilterAFD AmCi Anls AVCO BV Can. Col. Emb Film...
2                                                  1
3                                                  2
4                                                  3

                             1  \
0  Movie Title (click to view)
1                          NaN
2      The Empire Strikes Back
3                       9 to 5
4                   Stir Crazy

                                                   2  \
0  Studio function MojoDrop1() { var number = doc...
1                                                NaN
2                                                Fox
3                                                Fox
4                                               Col.

                                                   3                       4  \
0  FilterAFD AmCi Anls AVCO BV Can. Col. Emb Film...  Total Gross / Theaters
1                                                NaN                     NaN
2                                       $209,398,025                    1278
3                                       $103,290,500                     NaN
4                                       $101,300,000                     NaN

                    5     6      7
0  Opening / Theaters  Open    NaN
1                 NaN   NaN    NaN
2          $4,910,483   126   5/21
3          $3,966,832   910  12/19
4          $8,691,886   813  12/12
                                                   0
0  FilterAFD AmCi Anls AVCO BV Can. Col. Emb Film...
            0              1        2           3          4
0        Date  Closing Price     Open  Daily High  Daily Low
1  02/08/2019        1314.93  1310.18     1315.73    1308.03
2  02/07/2019        1300.13  1307.73     1311.88    1300.13
3  02/06/2019        1306.58  1314.83     1315.93    1305.83
4  02/05/2019        1322.38  1312.03     1322.38    1310.83